#navegador {
    background-color: #e73a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navegador h1{
    padding-left: 2%;
  }
  
  #navegador ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;
    width: 15%;
    justify-content: space-evenly;
  }
  
  #navegador a {
    font-size: 30px;
  }
  
  .icono-linkendin {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .icono-linkendin:hover {
    color: rgb(21, 33, 206);
    font-size: 32px;
  }
  
  .icono-github {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .icono-github:hover {
    color: rgb(246, 247, 250);
  }
  
  .icono-gmail {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .icono-gmail:hover {
    color: rgb(216, 213, 29);
  }
  
  